<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>리스트</title>
</head>
<body>
<h1>리스트</h1>
<a th:href="@{/post/create}">Create Post</a>

<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${postList}">
        <td>
            <a th:text="${post.id}" th:href="@{/post/detail/{id}(id=${post.id})}"></a>
        </td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.createDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
